h5{
    color: rgb(221, 17, 17);
}
.column {
    float: left;
    padding: 10px;
    height: 2250px; 
    
  }
  
  .left {
    width: 25%;
  }
  
  .right {
    width: 75%;
  }
  
  
  .row:after {
    content: "";
    display: table;
    clear: both;
  }
  
  .circular-img {
    width: 115px; 
    height: 115px; 
    border-radius: 50%; 
    overflow: hidden; 
    margin-bottom: 20px; 
  }
  
  .colored-hr {
    border-style: solid; 
    border-width: 1px; 
    border-color: #f3fafa; 
  }
  